.App {
  text-align: center;
}
header {
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
span {
  background-color: blue;
  margin-left: 10px;
}
.leftNav {
  display: flex;
}
.rightNav {
  display: flex;
}

.imgcont {
  display: flex;
}

.images {
  height: 100px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image_container {
  height: 300px;
  width: 200px;
}

.cart {
  background-color: blue;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  flex-shrink: 0;
}

.cartContainer {
  display: flex;
  overflow: scroll;
}

.cartName {
  background-color: green;
  color: white;
}

.basket {
  background-color: orange;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 50%;
}
